<div class="container">
  <div class="row">
    <div class="col-md-6">
      {{price-counter}}
    </div>
    <div class="col-md-6">
      {{volume-counter}}
    </div>
  </div>
  <div class="row">
    {{pump-screen
      zipCode=zipCode
      cardSwiped=cardSwiped}}
  </div>
  <div class="row">
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-6">
          {{pump-options}}
        </div>
         <div class="col-md-6">
          {{pump-hose}}
          {{pump-lift
            liftPump=(action 'enablePump')}}
          {{pump-nozzle
            pumpEnabled=pumpEnabled}}
        </div>
      </div>
    </div>
    <div>
      {{card-swipe
          swipeCard=(action 'swipeCard')}}
    </div>
    <div class="col-md-3">
      {{pump-keypad
        enterZip=(action 'enterZip')}}
    </div>
  </div>
</div>
